@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background-color: #f0f0f0;
  font: 1em 'Karla';
  padding-top: 25vh;
}
body #main {
  width: 635px;
  height: 475px;
  margin: auto;
}
body #top {
  padding-top: 45px;
  background-color: white;
  padding-left: 40px;
  height: 215px;
}
body #top h1 {
  color: #2ab2af;
}
body #top p {
  color: #c0df34;
}
body #top pre {
  font: 1em 'Karla';
  color: #98a6bd;
  line-height: 20px;
}
body #bottom {
  display: flex;
  height: 260px;
  color: white;
}
body #bottom #left {
  padding-left: 40px;
  width: 317px;
  background-color: #2ab2af;
  padding-top: 25px;
}
body #bottom #left h3, body #bottom #left p {
  color: #e5eff5;
}
body #bottom #left h3 b, body #bottom #left p b {
  color: white;
}
body #bottom #left button {
  width: 240px;
  height: 50px;
  background-color: #c0df34;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-top: 15px;
  color: white;
}
body #bottom #right {
  padding-left: 40px;
  width: 318px;
  background-color: #4abebd;
  padding-top: 25px;
  color: #e5eff5;
}
body #bottom #right li {
  list-style-type: none;
  margin-left: -40px;
}

/*# sourceMappingURL=style.css.map */
