@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #f0f0f0;
  font: 1em 'Karla';
  padding-top: 25vh;

  #main {
    width: 635px;
    height: 475px;
    margin: auto;
  }

  #top {
    padding-top: 45px;
    background-color: white;
    padding-left: 40px;
    height: 215px;

    h1 {
      color: hsl(179, 62%, 43%);
    }

    p {
      color: hsl(71, 73%, 54%);
    }

    pre {
      font: 1em 'Karla';
      color: hsl(218, 22%, 67%);
      line-height: 20px;
    }
  }

  #bottom {
    display: flex;
    height: 260px;
    color: white;

    #left {
      padding-left: 40px;
      width: 317px;
      background-color: hsl(179, 62%, 43%);
      padding-top: 25px;

      h3, p {
        color: hsl(204, 43%, 93%);

        b {
          color: white;
        }
      }

      button {
        width: 240px;
        height: 50px;
        background-color: hsl(71, 73%, 54%);
        border: none;
        outline: none;
        border-radius: 4px;
        margin-top: 15px;
        color: white;
      }
    }

    #right {
      padding-left: 40px;
      width: 318px;
      background-color: #4abebd;
      padding-top: 25px;
      color: hsl(204, 43%, 93%);

      li {
        list-style-type: none;
        margin-left: -40px;
      }
    }
  }
}